<h1 style="text-align: center">Pour toute question contactez nous !</h1>
<section>
  <form #f="ngForm" (ngSubmit)="soumissionFormulaire(f)">
    <input name="nom" [(ngModel)]="contact.nom" (input)="suiviInput()" placeholder="Votre nom" type="text" required>
    <input name="email" [(ngModel)]="contact.email" placeholder="Votre email" type="email" required>
    <input name="sujet" [(ngModel)]="contact.sujet" placeholder="Sujet de votre message" type="text" required>
    <textarea name="message" [(ngModel)]="contact.message" placeholder="Quelle est votre demande ?"></textarea>
    <input type="submit" value="Envoyer" [disabled]="f.invalid">
    <input type="reset" value="Annuler">
  </form>
</section>
